*{
    padding:0;
    margin:0;
    border:0;
 }
 
 *,:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 } 
 :focus,:active{ outline: none;}
 a:focus,a:active{outline: none;}
 
 nav,footer,header,aside{display:block;}
 
 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
 }
 
 input,button,textarea{font-family:inhert}
 
 input::-ms-clear{display:none}
 button{cursor:pointer}
 button::-moz-focus-inner{padding:0;border:0;}
 a,a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 ul,li{list-style:none}
 img{vertical-align: top;}
 
 h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
 
 @import url('../fonts.css');

 body{
   background: #162831;
 }

 .container{
   max-width: 1300px;
   margin: 0 auto;

 }



.header__body {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
   align-items: center;
   margin-left: 10px;
   margin-right: 10px;
}

.header__menu {
display: flex;
flex: 1 1 auto;
max-width: 655px;
}
.header__list {
   display: flex;
   justify-content: space-around;
   flex: 1 1 auto;
}
.header__link,.header__link1 {
  font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
}
.header__link1{
   display: none;
}
.header__link:hover{
    transition:  all .3s ease 0s;
    color: rgb(152, 189, 207);
    font-size: 18px;
    }
.header__button {
   background: #018ABE;
border-radius: 3px;
padding: 9px 15px 9px 15px;
}

.bh {
   font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 13px;
color: #FFFFFF;
}

.header__button:hover{
   transition:  all 0.3s ease 0s;
   background: #15afec ;
}

.my {
    padding-top: 100px;
}

.my__body {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
.my__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.my__title h3{
    font-family: 'El Messiri';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 140%;
text-align: center;
color: #FFFFFF;
}
.my__title img{
    margin: 45px;
}
.block {
    display: flex;
    justify-content: space-between;
}
.strong1 {
    padding-top: 80px;
}
.strong1__title {
    font-family: 'El Messiri';
font-style: normal;
font-weight: 700;
font-size: 24px;

color: #FFFFFF;
}
.strong1 p{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    max-width: 564px;
    margin-top: 30px;
}
.strong2 img{
    max-width: 564px;
    width: 100%;
    height: auto;
    background-size: cover;
    object-fit: cover;

}
@media(max-width:867px){
    .header__button{
        max-width: 100px;
        max-height: 42px;
        padding: 4px 9px 4px 9px;
    }

    .bh{
        font-size: 9px;
    }

    .header__link,.header__link1{
        font-size: 14px;
    }  
    .block {
        flex-direction: column;
        align-items: center;
    }

    .strong1{
        padding-top: 30px;
    }

    .strong2{
        padding-top: 20px;
    }

    .my__title h3{
        font-size: 24px;
    }

    .strong1__title{
        font-size: 20px;
    }
    .strong1 p{
        font-size: 14px;
    }
}

@media(max-width:652px){
   body.lock{
       overflow: hidden;
   }
   .header__burger {
       display: block;
       position: relative;
       width: 30px;
       height: 20px;
       position: relative;
       z-index: 3;
   }

   .header__burger span {
       position: absolute;
       background-color: #fff;
       left: 0;
       width: 100%;
       height: 2px;
       top: 9px;
       transition: all 0.3s ease 0s;
   }

   .header__burger::before,
   .header__burger::after{
       content: '';
       background-color: #fff;
       position: absolute;
       width: 100%;
       height: 2px;
       left: 0;
       transition: all 0.3s ease 0s;
   }

   .header__burger::before{
       top: 0;
   }

   .header__burger::after{
       bottom: 0;
   }
   .header__menu {
       position: fixed;
       top: -100%;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgb(31, 84, 117);
       opacity: 2;
       padding: 70px 10px 20px  10px  ;
       overflow: auto;
       display: flex;
      justify-content: center; 
   }

   .header__menu.active{
       top: 0;
       transition: all 0.3s ease 0s;
   }
   .header__body {
       height: 50px;
   }

   .header__list{
       display: block;
   }

   .header__list li {
       margin:  0 0 20px 0;
   }

   .header__burger.active span {
       transform: scale(0);
           }
   .header__burger.active::before {
       transform: rotate(45deg);
       top:9px
           }
           .header__burger.active::after {
               transform: rotate(-45deg);
               bottom: 9px;
                   }

    .header__link,.header__link__1{
        font-size: 16px;
    }

    .header__list{
        display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
    margin-bottom: 20%;
    }

    .header__button{
      display: none;
    }

    .header__link1{
      display: block;
    }
}
 









